* {box-sizing: border-box}
body 
{
	font-family: "Lato", sans-serif;
	background: linear-gradient(rgba(1,1,1,0.8), rgba(1,1,1,0.8)), url("d.jpg");
  background-attachment: fixed;
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
      background-color: #000000; /* Used if the image is unavailable */
      background-position: center; /* Center the image */
  color:#FFFFFF;

}



/*******************

Custom Scrollbar START

**********************/

/* width */
::-webkit-scrollbar 
{
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track 
{
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
  background: #b30000; 
}

/*******************

Custom Scrollbar  END

**********************/



/* Style the tab */
.tab 
{
  float: left;
  /* border: 1px solid #ccc;  */
  background-color: transparent;
  width: 12%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button 
{
  display: block;
  background-color: inherit;
  color: white;
  padding: 2px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover 
{
  background-color: transparent; /*    #ddd        */
}

/* Create an active/current "tab button" class */
.tab button.active 
{
  background-color: #FF4500;
  border-radius: 20px;
}

/* Style the tab content */
.tabcontent 
{
  float: left;
  padding: 0px 12px;
  /*   border: 1px solid #ccc;  */
  width: 70%;
  border-left: none;
  height: 300px;
}


@font-face 
{
    font-family: customBold;
    src: url(majalla.ttf);
}




.tablinks
{
   font-size:16px;
   font-weight:300;
   text-align:center;
   position:relative;
   height:40px;
   line-height:0px;
   margin-top:10px;
   overflow:hidden;
   width:90%;
   margin-left:5%;
   cursor:pointer;
}
.tablinks:after
{
   content:'';
   position:absolute;
   width:80%;
   border-bottom:1px solid rgba(255, 255, 255, 0.5);
   bottom:50%;
   left:-100%;
   transition-delay: all 0.5s;
   transition: all 0.5s;
}

.tablinks:hover:after,
.tablinks.hover:after
{
   left:100%;
}
.tablinks .text
{
   text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
   transition:all 0.75s;
   transform:translateY(100%) translateZ(0);
   transition-delay:all 0.25s;
}
.tablinks:hover .text,
.tablinks.hover .text
{
   text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
   transform:translateY(0%) translateZ(0) scale(1.1);
   font-weight:600;
}

